{% extends 'base.html' %}
{% load static %}

{% block title %}Customer Registration{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h1>Customer Registration</h1>
            <hr>
            <form action="" method="post" class="shadow p-5">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        <small class="text-danger">{{ field.errors }}</small>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div class="text-center text-primary fw-bold mt-3">
                <small>Existing User? <a href="#">Login Now</a></small>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success my-3">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock main-content %}
